{% extends "base_official_dashboard.html" %}


{% block title %}E-Land Records{% endblock %}

{% block content %}
<div class="row">
  <!-- Left Column: User & Login Details -->
  <div class="col-md-3">
    <div class="section">
      <h5>User &amp; Login Details</h5>
      <p><strong>Name:</strong> {{user.get_full_name}}</p>
      <p><strong>Designation:</strong> {{user.designation|upper}}</p>
      <p><strong>IP Address:</strong> 14.139.85.200</p>
    </div>
    <div class="section mt-3">
      <h5>Current Assigned Roles</h5>
      <p>{{user.designation|upper}}</p>
    </div>
  </div>
  
  <!-- Middle Column: File Details -->
  <div class="col-md-6">
    <div class="section">
      <h5>File Details</h5>
      <p>Data Not Available</p>
    </div>
  </div>
  
  <!-- Right Column: Alerts & Notifications -->
  <div class="col-md-3">
    <div class="section">
      <h5>Alerts &amp; Notifications</h5>
      <p>No new notifications</p>
    </div>
  </div>
</div>
{% endblock %}
